h4 {
  margin: 10px;
}

#table {
  border: 2px solid black;
  margin-left: 10px;
  min-width: 200px;
}

.tableHeader {
  border-bottom: 2px solid black;
}

.titles {
  border-bottom: 1px solid black;
}

tr:last-child td {
  border: none;
}

input {
  margin-left: 10px;
  margin-bottom: 10px;
}

#movieList {
  margin: 5px;
}

#movieInfo {
  margin: 5px;
  margin-top: 15px;
}

#logout, #signup {
  top: 10px;
  float: right;
}