body {
  background-color: #e1d3ad;
}

h4 {
  margin: 10px;
}

#table {
  border: 2px solid black;
  margin-left: 10px;
  min-width: 200px;
}

.tableHeader {
  border-bottom: 2px solid black;
}

.titles {
  border-bottom: 1px solid black;
}

tr:last-child td {
  border: none;
}

input {
  margin-left: 10px;
  margin-bottom: 10px;
}

#movieList {
  margin: 5px;
}

#movieInfo {
  margin: 5px;
  margin-top: 15px;
}

#logout, #signup {
  top: 10px;
  float: right;
}

#profile {
  max-height: 50px;
  max-width: 50px;
  float: right;
}

.match {
  text-align: center;
  border: 2px solid black;
  border-radius: 4px;
  background-color: #f09951;
}

.match h4 {
  text-align: center;
  font-weight: bold;
  font-family: 'Georgia', serif;
  font-size: 4em;
  margin: 4px;
  border-bottom: 1px solid black;
}

.match img {
  max-height: 400px;
  max-width: 400px;
}

.display {
  max-height: 300px;
  max-width: 500px;
}

#movieInfo {
  max-height: 300px;
  max-width: 500px;
}

#matchBox {
  z-index: 10;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 20px;
  width: 400px;
}